doctype html
html(lang='en')
  head
    title 배민사장님광장
    meta(charset='utf-8')
    link(rel="shortcut icon", href="https://ceo.baemin.com/cdn/ceo-moon/favicon.ico", type="image/x-icon")
    link(rel='stylesheet' href='./css/base.css')
    script(src="https://t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js")
    block styles
  body
    include ./mixins/input.pug
    div.layout
      include ./header.pug
      div.content
        block content
      include ./footer.pug
    .layer_out
      .layer_in
        .layer_header
          h3 주소검색
          img#btnCloseLayer(src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAABmJLR0QA/wD/AP+gvaeTAAAAoUlEQVRYhe2WQQ6DMAwEaR/Ron4RnosUeM30QA5WhSBxbNKD5xSEnB1IHBiGIAj+HWACRkXdCEyt4TM7qUYih6dcO7cIvIAlT7QBn4Kat6hZS2rMJMzDayTcwksk3MPPJG4LFxJyh6efcXW7aiXkm2h68qfS4XFx7UfXJTjacJrDyixc3POVKGk1N4maPjeX0BwyphL0/hznyfr9kARBcAdfWXAH/8Hnf54AAAAASUVORK5CYII", alt="닫기 버튼")
        #layer
    
    #popup
      .popup-layout
        .popup-content
          p.popup-title 제목
          p.popup-contents 내용
        .popup-footer
          .close 확인

  script(type="module" src="./js/index.js")
  script(type="module" src="./js/validation.js")
  block scripts
      