doctype html
html(lang='en')
  head
    title 배민상회
    meta(charset='utf-8')
    link(rel="shortcut icon", href="./images/favicon.ico", type="image/x-icon")
    link(rel='stylesheet' href='./css/base.css')
    block styles
  body
    div.layout
      include ./header.pug
      div.content
        block content
      include ./footer.pug
  script(type="module" src="./js/validation.js")
  block scripts
      