body {
  width: 100%;
  height: 100vh;
  margin: 0;
  font-family: "Do Hyeon", sans-serif;
}

.layout {
  margin: 0 auto;
  width: 500px;
  height: 100%;
  border: 1px solid #000;
  box-sizing: border-box;
  padding: 30px 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

header {
  width: 100%;
  text-align: center;
}

footer {
  width: 100%;
  text-align: center;
}

.content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.base_color {
  color: #197cfe;
}

.err_color {
  color: red;
}

.grey {
  color: #d7d7d7;
}

/* input text style */

.input {
  width: 100%;
  height: 45px;
  border: 1px solid #d7d7d7;
  box-sizing: border-box;
  margin-bottom: 10px;
  font-size: 15px;
  padding: 5px 10px;
}

.input_err {
  border-color: red;
  color: red;
}

.input_msg {
  display: none;
  margin: 0;
  margin-bottom: 15px;
  font-size: 12px;
}

.input_msg_comp {
  display: block;
  color: #b5b5b5;
}

.input_msg_err {
  display: block;
  color: red;
}

/* select box style */
select {
  width: 100%;
  height: 40px;
  border: 1px solid #d7d7d7;
  box-sizing: border-box;
  margin-bottom: 10px;
}

/* button style */
button {
  width: 100%;
  height: 60px;
  background-color: #197cfe;
  color: white;
  font-size: 20px;
  margin-bottom: 10px;
  border: 0;
}

/* checkbox style */
input[type="checkbox"] {
  border: 1px solid #d7d7d7;
  margin-right: 10px;
}

/* label style */
label {
  font-size: 15px;
}

/* line 정리 css */
.right {
  display: flex;
  justify-content: flex-end;
}

.right p {
  margin: 0 5px;
  color: #9c9c9c;
  font-size: 14px;
}

/* mouse pointer class */
.click {
  cursor: pointer;
}

.click:hover {
  text-decoration: underline;
}
