p {
  margin-left: 5px;
  margin-right: 5px;
}

.emailForm {
  display: flex;
}
.inputButton {
  display: flex;
}

.popup {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.popup-content {
  display: block;
  background-color: #fefefe;
  margin: 15% auto;
  padding: 50px;
  border: 1px solid #888;
  width: 20%;
}

.popup-content .popup-header {
  font-weight: bold;
}

.close {
  color: #aaa;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
}

.inputCheckBox {
  margin-bottom: 20px;
}

.linkText {
  font-size: 12px;
  line-height: 18px;
  letter-spacing: -0.1px;
  color: #898989;
  font-weight: normal;
  position: relative;
  margin-left: 9px;
  text-decoration: underline;
  cursor: pointer;
}
