extends ../layout/index

block styles
  link(rel='stylesheet' href='./css/main.css')

block content
  h2 사장님, 로그인해주세요!
  button#go_login 배민사장님광장 로그인
  .right
    p.click#go_id_pwd_find 아이디 / 비밀번호 찾기
    p |
    p.click#go_register 회원가입

block scripts
  script(type="module" src="./js/main.js")