extends ../layout/index

block styles
  link(rel='stylesheet' href='./css/main.css')

block content
  h2 사장님, 로그인해주세요!
  button#go_login 배민사장님광장 로그인
block scripts
  script(type="module" src="./js/main.js")