extends ../layout/index

block styles
  link(rel='stylesheet' href='./css/register.css')

block content
  h2 회원가입 페이지
  .emailForm
    input#emailIdInputBox(type="text", name="emailId", value="", placeholder="이메일 앞자리*")
    p @ 
    input#emailDomainInputBox(type="text", name="emailDomain", value="", placeholder="이메일 뒷자리*", disabled)
  select#emailSelector
    each val in Emails
      option=val
  
  .inputButton#phoneNumber
    input#phoneNumberBox(type = "text", value = "", placeholder="휴대폰*")
    button#phoneSubmit(type = "submit") 인증받기

  .inputButton#phoneVerification(style="display:none;")
    input#phoneVerificationBox(type="text", value = "", placeholder="인증번호 6자리 입력")
    button#phoneVerificationSubmit(type = "submit") 확인
  
  .modal#phoneVerificationModal
    .modal-content
      .modal-header
        p 인증번호를 발송했습니다.
      .modal-body
        p 인증번호를 확인해주세요.
      .modal-footer
        .close 확인

  .inputCheckBox
    input#addressCheckBox(type="checkbox")
    label.agreeText(for="addressCheckBox") 선택 정보를 입력하시겠어요?
    label.linkText 내용보기
  
  .addressForm
    input.addressElements(type="text", value="",placeholder="우편번호", disabled)
    input.addressElements(type="text", value="",placeholder="우편번호", disabled)

  .agreement
    input#parentAgreement(type="checkbox") 
    label.parentAgreeText(for="parentAgreement") 전체 약관에 동의합니다
    div#subAgreementGroup
      .subAgreement
        input.subAgreementCheckBox#mustAgree(type="checkbox")
        label.subAgreeText(for="mustAgree") 필수 항목에 동의합니다.
      .subAgreement
        input.subAgreementCheckBox#adAgree(type="checkbox")
        label.subAgreeText(for="adAgree") 광고성 정보 수신 동의 (선택)


block scripts
  script(type="module" src="./js/register.js")